<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link type="text/css" href="css/style.css">
  <title></title>
</head>
<body>
  <div>
    <img src="https://i.imgur.com/QIIQjnG.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Aquarius (January 20 - February 18)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/lcHLdst.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Pisces (February 19 - March 20)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/84cqV9X.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Aries (March 21 - April 19)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/xymJZox.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Taurus (April 20 - May 20)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/TEaPFiN.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Gemini (May 21 - June 20)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/tCzaKua.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Cancer (June 21 - July 22)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/MEEbeAc.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">leo (July 23 - August 22)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/3hty5JH.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Virgo (August 23 - September 22)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/xkLxWFc.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Libra (September 23 - October 22)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/tzsQB98.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Scorpio (October 23 - November 21)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/dbKxiPS.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Sagittarius (November 22 - December 21)</a>
    <br>
    <br>
    <img src="https://i.imgur.com/obC2zkO.png" style="width:150px;height:150px;" alt="">
    <a href="/predictions">Capricorn (December 22 - January 19)</a>
  </div>
</body>
</html>
