<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="https://i.imgur.com/F3Rg3L4.png" style="width:1500px;height:600px;" alt="">
  </body>
</html>
