<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <p>Your Ginuea Pig will Disown You Today.</p>
    <p>Stay Alert Leaving Your Home Today As You Might Get Into Fight With a Squirel.</p>
    </ul>
  </body>
</html>
