<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HOROSCOPE</h1>
    <p>Know Everything About Your Day...</p>
    <img src="https://media.giphy.com/media/cgfcuv1vEADFS/giphy.gif" style="width:1500px;height:600px;">
  </body>
</html>
